#!/bin/sh

if [ `which node 2>/dev/null | wc -l` -eq 1 ]; then
  echo prefix = ${HOME}/.npm_packages > ${HOME}/.npmrc
  echo progress = false >> ${HOME}/.npmrc
  echo ignore-scripts = true >> ${HOME}/.npmrc
  export PATH=${HOME}/.npm_packages/bin:${PATH}
fi
